.lexical-text-area-ediable {
  flex: 1;

  &:focus-visible {
    outline: none;
  }

  p {
    margin: 6px 0;
  }

  &:not(:focus):before {
    position: absolute;
    line-height: 30px;
    opacity: 0.5;
    content: attr(placeholder);
  }
}
